body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.header,
.footer,
.panels > div {
    padding: 0 50px;
    flex-shrink: 1;
}

.header,
.footer {
    height: 32px;
    display: flex;
    align-items: center;
    flex-grow: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.footer {
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.panels {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.panel {
    flex-grow: 1;
}

.dark {
    background-color: #1f2937;
    color: white;
}

.hero {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.info {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
}

.subtext {
    color: gray;
}

.button {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 8px;
    border-style: none;
}

.gray {
    background-color: #e5e7eb; 
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.author {
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    align-self: flex-end;
}

.banner {
    background-color: #3882f6;
    color: white;
}

.panel#one {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 10% 5%;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right img {
    min-width: 100%;
    height: auto;
}

.panel#two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    gap: 24px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.images img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    border-style:ridge;
    width: 100px;
    height: 100px;
}

.panel#three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 5%;
}

.panel#four {
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
}

.banner {
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 8px;
    padding: 40px 80px;
}

.banner-main {
    font-size: 24;
    font-weight: 700;
}

.banner-secondary {
    color: #e5e7eb;
}

.banner button {
    border: 2px solid white;
}